<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <appSettings>
    <add key="formUrl" value="http://www.correoargentino.com.ar/sites/all/modules/custom/ca_forms/api/ajax.php"/>    
    <add key="C" value="Ciudad Autonoma de Buenos Aires"/>
    <add key="B" value="Buenos Aires"/>
    <add key="K" value="Catamarca" />
    <add key="H" value="Chaco" />
    <add key="U" value="Chubut"/>
    <add key="X" value="Cordoba" />
    <add key="W" value="Corrientes" />
    <add key="E" value="Entre Rios" />
    <add key="P" value="Formosa " />
    <add key="Y" value="Jujuy " />
    <add key="L" value="La Pampa " />
    <add key="F" value="La Rioja " />
    <add key="M" value="Mendoza " />
    <add key="N" value="Misiones " />
    <add key="Q" value="Neuquen " />
    <add key="R" value="Rio Negro " />
    <add key="A" value="Salta " />
    <add key="J" value="San Juan " />
    <add key="D" value="San Luis " />
    <add key="Z" value="Santa Cruz " />
    <add key="S" value="Santa Fe " />
    <add key="G" value="Santiago del Estero " />
    <add key="V" value="Tierra del Fuego " />
    <add key="T" value="Tucuman " />
  </appSettings>

</configuration>
